/* ---------------------------- Home screen ---------------------------- */
/* Grid with the clickable icons, descriptive text and status text */
.actions {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.actions img {
  width: 100%;
  height: auto;
  font-family: 'Readex Pro', sans-serif;
}
/* --------------------------------------------------------------- */

/* Behavior of the icons depends on if they can be clicked or not  */
.non-clickable {
  cursor: not-allowed; 
  opacity: 0.5; 
}

.clickable {
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.clickable:hover {
  transform: scale(1.2);
}
/* --------------------------------------------------------------- */

/* ------------ Rounded square that contains the icons ----------- */
.clickable-container {
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  background-color: #3c404e; 
}
/* --------------------------------------------------------------- */

/* -------- Places the status messages on the correct spot ------- */
.csv-status {
  grid-column: 1;
  word-wrap: break-word;
}

.xlsx-status {
  grid-column: 5;
  word-wrap: break-word;
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* --------------------------- Graphs screen --------------------------- */
/* ---------------------- Go back button ------------------------- */
.button {
  border-radius: .375rem;
  cursor: pointer;
  background-color: #3c404e; 
  transition: transform 0.3s ease, background-color 0.3s ease; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  color: #ffffff;
  font-family: 'Readex Pro', sans-serif;
  font-size: 2vw;
  padding: 1vw 3vw; /* Set padding relative to the viewport width */
  border-radius: 1vw; /* Set border radius relative to the viewport width */
}

.button:hover {
  transform: scale(1.1);
  background-color: #474b5d;
}

.exit-actions {
  grid-template-columns: 48% 48%;
  position: fixed;
  top: 2%;
  right: 2%;
  display: grid;
  grid-row-gap: 20%;
  grid-column-gap: 4%;
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* ----------------------- Hides scrollbar ----------------------- */
body {
  margin: 0rem;
  overflow: hidden;
  background-color: #282a33;
}
/* --------------------------------------------------------------- */

/* ----------------------- Set global font ----------------------- */
p {
  text-align: center;
  font-family: 'Readex Pro', sans-serif;
  cursor: default;
  font-size: clamp(14px, 2vw, 40px);
  color: #ffffff;
}
/* --------------------------------------------------------------- */
