<!--
  This is unideal. Instead of using SvelteKit and it's routing, we decided to go for Svelte for it's simplicity.
  To get around having multiple pages without routing, everything is wrapped inside a class which is made visible
  or invisible depending on which 'page' should be rendered. We tried 'svelte-routing' but it does stuff in a 
  weird way so I decided to do this instead.

  The typescript is also probably unidea, I don't know typescript.
-->
<script lang="ts">
  import { invoke } from "@tauri-apps/api/tauri";
  import { open } from "@tauri-apps/api/dialog";
  import { save } from '@tauri-apps/api/dialog';
  
  let csvStatus: string;
  let xlsxStatus: string;
  let clickableClass = "non-clickable"
  
  let currentScreen = "home"

  let templateImport = "Select template from file"
  let templateExport = "Save template to file"

  async function readCsv() {
    const selected = await open({
      multiple: false,
      filters: [{
          name: 'Comma Separated Values',
          extensions: ['csv']
      }]
    });

    if (selected !== null) {
      csvStatus = "Parsing CSV file..."
      csvStatus = await invoke("read_csv", {path: selected} )
			       .then((path) => { clickableClass = "clickable"; return path} )
			       .catch((error) => { return error });
    }
  }

  async function exportXlsx() {
    if (clickableClass === "clickable") {
      const selected = await save({
        filters: [{
          name: 'Worksheet',
          extensions: ['xlsx']
        }]
      });

      if (selected !== null) {
        xlsxStatus = "Exporting XLSX file..."
        xlsxStatus = await invoke("export_xlsx", {path: selected} )
			       .then((path) => { return path} )
			       .catch((error) => { return error });
      }
    }
  }

  async function importTemplate() {
    const selected = await open({
      multiple: false,
      filters: [{
          name: 'Automation Graphing Template',
          extensions: ['agt']
      }]
    });

    if (selected !== null) {
      templateImport = await invoke("import_template", {path: selected} )
			       .then((msg) => { return msg })
			       .catch((error) => { return error });
    }
  }

  async function exportTemplate() {
    const selected = await save({
      filters: [{
        name: 'Automation Graphing Template',
        extensions: ['agt']
      }]
    });

    if (selected !== null) {
      templateExport = await invoke("export_template", {path: selected} )
			       .then((msg) => { return msg })
			       .catch((error) => { return error });
    }
  }

  async function changeToGraphs() {
    if (clickableClass === "clickable") {
      currentScreen = "graphs"
    }
  }

  async function changeToHome() {
    currentScreen = "home"
  }

</script>

<main>
  <body>
    <!---------- Styles import ---------->
    <link rel="stylesheet" href="/src/styles/style.css">

    <!------ Readex Pro font import ------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">

    <!-- Homepage, rendered on program start -->
    {#if currentScreen === "home"}
    <div class="actions">
      <div class="clickable-container" on:click={readCsv}>
        <label for="CSV_input">
          <img src="/src/assets/csv_doc_icon.svg" draggable="false" alt="csv" class="clickable">
        </label>
      </div>

      <img src="/src/assets/next_icon.svg" alt="next" draggable="false">
    
      <div class="clickable-container" on:click={changeToGraphs}>
	<img src="/src/assets/graph_icon.svg" draggable="false" alt="graph" class="{clickableClass}">
      </div>

      <img src="/src/assets/next_icon.svg" alt="next" draggable="false">
    
      <div class="clickable-container" on:click={exportXlsx}>
	<img src="/src/assets/xlsx_doc_icon.svg" draggable="false" alt="xlsx" class="{clickableClass}">
      </div>
    
      <p>Select CSV file</p>
      <p></p>
      <p>Make a graphing scheme</p>
      <p></p>
      <p>Export to XLSX</p>

      {#if csvStatus}
      	<p class="csv-status" style="color: #aaaaaa">{csvStatus}</p>
      {/if}
	
      {#if xlsxStatus}
      	<p class="xlsx-status" style="color: #aaaaaa">{xlsxStatus}</p>
      {/if}
    </div>

    <!-- Graph template creator screen, rendered when switched to it -->
    {:else if currentScreen === "graphs"}
    <div class="exit-actions">
      <button class="button" on:click={importTemplate}>{templateImport}</button>
      <button class="button" on:click={changeToHome}>Save changes and go back</button>
      <button class="button" on:click={exportTemplate}>{templateExport}</button>
      <button class="button" on:click={changeToHome}>Go back without saving</button>
    </div>
    {/if}
  </body>
</main>
